body{
    background-image: url("background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.parentbox{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
  
}

.page1{
    width: 800px;
    height: 500px;
    border: 2px dotted rgb(42, 41, 41);
    position: absolute;
    top: 50px;
    left: 250px;
    background-color: rgba(128, 128, 128, 0.5);

}

.next{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    left: 1125px;
    font-size: 25px;
    background-color: rgb(164, 164, 237);
}

.prev{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    left: 40px;
    font-size: 25px;
    background-color: rgb(184, 184, 235);
}

P{
    font-size: 45px;
    font-family: "Autour One", system-ui;
    color: white;
    text-align: center;
    position: absolute;
    top: 120px;
    border: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;


}