body{
    background-image: url("background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.parentbox{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
  
}

.page1{
    width: 800px;
    height: 500px;
    border: 2px solid rgb(42, 41, 41);
    position: absolute;
    top: 50px;
    left: 250px;
    background-color: rgba(128, 128, 128, 0.5);

}

.next{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    left: 1100px;
    font-size: 25px;
}

.prev{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    left: 50px;
    font-size: 20px;
}