body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.parent{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.prev{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    font-size: 25px;
    left: 1125px;
}

.return{
    position: absolute;
    border-radius: 0.7rem;
    top: 530px;
    left: 1125px;
    font-size: 25px;

}

.star5{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 55px;
    left: 250px;
    border: 2px dotted rgb(42, 41, 41);
    background-color: rgba(128, 128, 128, 0.5);

}

img{
    position: absolute;
    left: 550px;
    top: 20px;
}

h1{
    color: white;
    font-family: ;
}

p{
    color: white;
    font-family: ;
}