body{
    background-image: url("background.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
    width: 800px;
    height: 500px;
    border: 2px dotted rgb(42, 41, 41);
    position: absolute;
    top: 50px;
    left: 250px;
    background-color: rgba(128, 128, 128, 0.5);

}

.parentbox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  
}

h1{
    color: white;
    text-align: center;
    font-size: 80px;
}

p{
    color: rgb(235, 160, 160);
    text-align: center;
    font-size: 30px;
}